<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="toofz.NecroDancer.Leaderboards.LeaderboardsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="toofz.NecroDancer.Leaderboards.LeaderboardsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <applicationSettings>
    <toofz.NecroDancer.Leaderboards.LeaderboardsService.Properties.Settings>
      <setting name="AppId" serializeAs="String">
        <value>247080</value>
      </setting>
    </toofz.NecroDancer.Leaderboards.LeaderboardsService.Properties.Settings>
  </applicationSettings>

  <userSettings>
    <toofz.NecroDancer.Leaderboards.LeaderboardsService.Properties.Settings>
      <setting name="UpdateInterval" serializeAs="String">
        <value>00:02:00</value>
      </setting>
      <setting name="DelayBeforeGC" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="InstrumentationKey" serializeAs="String">
        <value />
      </setting>
      <setting name="KeyDerivationIterations" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="SteamUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DailyLeaderboardsPerUpdate" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SteamClientTimeout" serializeAs="String">
        <value>00:01:40</value>
      </setting>
    </toofz.NecroDancer.Leaderboards.LeaderboardsService.Properties.Settings>
  </userSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="16" />
    </connectionManagement>
  </system.net>
</configuration>
