<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="toofz" value="https://www.myget.org/F/toofz/api/v3/index.json" />
    <add key="AppVeyor - toofz.NecroDancer.Leaderboards" value="https://ci.appveyor.com/nuget/toofz-necrodancer-leaderboards-v2744qsh4s4q" />
    <add key="AppVeyor - toofz.NecroDancer.Leaderboards.EntityFramework" value="https://ci.appveyor.com/nuget/toofz-necrodancer-leaderboards-h17uehhhw49s" />
    <add key="AppVeyor - toofz.NecroDancer.Leaderboards.Services" value="https://ci.appveyor.com/nuget/toofz-necrodancer-leaderboards-9hlgk2ascv8c" />
  </packageSources>
</configuration>
